# Directorio local de Terraform
**/.terraform/*

# Archivos de estado (.tfstate)
# Nunca debes subir estos archivos porque pueden contener información sensible y credenciales en texto plano.
*.tfstate
*.tfstate.*

# Archivos de logs de errores
crash.log
crash.*.log

# Archivos de variables (.tfvars)
# Excluye estos archivos porque suelen contener datos sensibles como contraseñas o claves privadas.
*.tfvars
*.tfvars.json

# Archivos de anulación (overrides)
# Se usan para hacer cambios locales temporales y no deben subirse al repositorio.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Archivos de planes de ejecución
# Generados por `terraform plan -out=...`
*.tfplan

